

<div>
    
<ul>
  @for (item of items; track $index) {
    <li>
       
      <input type="checkbox" [checked]="item.checked" (click)="checkboxChange(item.id)">
      <span>{{ item.name }}</span>
      <div class="image-container">
      
      <button type="button" class="btn add-button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal2-' + item.id" >
        <img src="assets/edit.png"  alt="edit">
      </button>
      <div class="modal fade" [id]="'exampleModal2-' + item.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 center" id="exampleModalLabel ">EDIT NOTE</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control border-color input-note" placeholder="Edit your note..." [(ngModel)]="item.name">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">CANCLE</button>
              <button type="button" class="btn  btn-add " (click)="EditItem(item.id,item.name)" data-bs-dismiss="modal" aria-label="Close">EDIT</button>
            </div>
          </div>
        </div>
      </div>



      <img src="assets/trash.png" (click)="DeleteItem(item.id)" alt="delete" style="margin-left:10%;">
    </div>
    
    </li>
  }
  </ul>

</div>
  
