

    <!-- <button class="btn add-button" type="button" >
        <img src="assets/add-button.png" alt="add-button">
    </button> -->
    <button type="button" class="btn add-button" data-bs-toggle="modal" data-bs-target="#exampleModal" >
        <img src="assets/add-button.png" alt="add-button">
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 center" id="exampleModalLabel">NEW NOTE</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" [(ngModel)]="note"  class="form-control border-color input-note" placeholder="Input your note...">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">CANCLE</button>
              <button type="button" class="btn  btn-add " (click)="addNote()">APPLY</button>
            </div>
          </div>
        </div>
      </div>