
<app-centered-title [title]="'TODO LIST'"></app-centered-title>
<div style="display: flex; justify-content: center; width:100%;">
    <app-search-bar  style="width:50%;" (searchEvent)="receiveSearchQuery($event)" ></app-search-bar>
    <div style="display: flex; ">
        <app-select-list (valueSelected)="receiveSelectedValue($event)"></app-select-list>
        <app-light-dark-mode style="margin-left: -20%;" (modeChanged)="receiveModeFromChild($event)"></app-light-dark-mode>
    </div>
</div>
  <app-todo-list [addednote]="receivedNote" [selectedValue]="typeSelectedValue" [searchQuery]="searchQuery" style="justify-content: center;"></app-todo-list>
  <app-add-button (noteAdded)="receiveNoteFromChild($event)"></app-add-button>



